html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
}
.index-page-body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(index-page.png);
    background-size: cover;
    background-position: center;
    color: white;
}

/* Styling for navigation bar */
.nav-list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 6rem;
    background-color: white;
    margin: 0;
    padding: 0;
}

.nav-list li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-list a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-list li a span {
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover span {
    background-position: right bottom;
  }
  
  nav ul li a:hover {
    color: #f9bc60;
}

/* Styling for index page */
.home-main-container {
    font-weight: bolder;
    margin-top: 4em;
    margin-left: 4rem;
    width: 60%;
    font-size: 2rem;
}

/* Styling for Wildlife Page */
.wildlife-main-container {
    text-align: center;
    background: #004643;
    color: #abd1c6;
    font-weight: bolder;
    font-size: larger;
}

.wildlife-main-content h3 {
    margin-top: 0;
    color: #fffffe;
    font-size: 2em;
    padding-top: 2rem;
}

.wildlife-main-content p {
    margin-right: 10rem;
    margin-left: 10rem;
}

.wildlife-main-content p:last-of-type {
    padding-bottom: 3rem;
}

.wildlife-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1rem;
}

.wildlife-card {
    border-radius: 5%;
    padding: 0.7rem;
    background-color: #e8e4e6;
    color: #001e1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    text-align: center;
}

.wildlife-card img {
    border-radius: 5% ;
}

/* Styling for Camping page */

.camping-container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
}

.camping-welcome-message {
    background: #004643;
    color: #abd1c6;
    font-weight: bolder;
    font-size: larger;
    padding-top: 4rem;
    padding-left: 1rem;
}

.camping-welcome-message h3{
    color: #fffffe;
    font-size: 2rem;
}
.campsite-locations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.campsite {
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e8e4e6;
    padding-top: 1rem;
}

.campsite h4 {
    color: #001e1d;
}

.campsite p {
    color: #0f3433;
}


/* Styling for Contact page */

.contact-container {
    text-align: center;
    background: #e8e4e6;
}

.contact-form {
    border: 1px solid red;
}
